[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm Professional
Comment=Python IDE
Exec=/opt/PyCharm/bin/pycharm.sh
Icon=/opt/PyCharm/bin/pycharm.png
Path=
Terminal=false
StartupNotify=false
