[Desktop Entry]
Version=1.0
Type=Application
Name=Processing
Comment=Processing Rocks
Exec=processing
Icon=/opt/processing-3.3.6/lib/icons/pde-64.png
Path=
Terminal=false
StartupNotify=false
